
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}
.m0l{
    margin-left: 0px;
}
.m0r{
    margin-right: 0px;
}
.p0r{
    padding-right: 0px;
}
.p0l{
    padding-left: 0px;
}
/* ==== Main CSS === */
body{padding: 0;margin: 0;}
.img-fill{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill img {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.blocks-box,
.slick-slider {
    margin: 0;
    padding: 0;
}

.slick-slide {
    float: left /* If RTL Make This Right */ ;
    padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider{overflow:hidden;}

.Modern-Slider .NextArrow{
    position:absolute;
    top:50%;
    right:0px;
    width:45px;
    height:80px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/80px FontAwesome;
    color:#FFF;
    z-index:5;
    cursor:pointer;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
    position:absolute;
    top:50%;
    left:0px;
    width:45px;
    height:80px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/80px FontAwesome;
    color:#FFF;
    z-index:5;
    cursor:pointer;
}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .NextArrow .Thumbnail{
    display:block;
    position:absolute;
    width:120px;
    height:80px;
    background-size:cover;
    top:0px;
    right:-120px;
    z-index:10;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}

.Modern-Slider .NextArrow:hover .Thumbnail{
    right:45px;
}

.Modern-Slider .PrevArrow .Thumbnail{
    content:'';
    display:block;
    position:absolute;
    width:120px;
    height:80px;
    background-size:cover;
    top:0px;
    left:-120px;
    z-index:10;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}

.Modern-Slider .PrevArrow:hover .Thumbnail{
    left:45px;
}

.Modern-Slider .slick-dots{
    position:absolute;
    height:5px;
    background:rgba(255,255,255,.20);
    bottom:0px;
    width:100%;
    left:0px;
    padding:0px;
    margin:0px;
    list-style-type:none;
}

.Modern-Slider .slick-dots li button{display:none;}
.Modern-Slider .slick-dots li{
    float:left;
    width:0px;
    height:5px;
    background:#7c8a8b;
    position:absolute;
    left:0px;
    bottom:0px;
}

.Modern-Slider .slick-dots li.slick-active{
    width:100%;
    -webkit-animation:ProgressDots 11s both;
    animation:ProgressDots 11s both;
}

.Modern-Slider .item .img-fill{
    height:100vh;
    background:#000;
}

.Modern-Slider .item .img-fill .info{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.50);
    line-height:100vh;
    text-align:center;
}

/.Modern-Slider .item .img-fill img{
    -webkit-filter:blur(1px);
    filter:blur(1px);
}

.Modern-Slider .item .info > div{
    display:inline-block!important;
    vertical-align:middle;
    padding:20px;
    border:4px solid #FFF;
}

.Modern-Slider .item h3{
    font:30px/50px RalewayB;
    text-transform:uppercase;
    color:#FFF;
    -webkit-animation:fadeOutRight 1s both;
    animation:fadeOutRight 1s both;
    margin:0;
    padding:0;
}

.Modern-Slider .item h5{
    margin:0;
    padding:0;
    font:15px/30px RalewayR;
    text-align:justify;
    color:#FFF;
    max-width:600px;
    overflow:hidden;
    -moz-text-align-last:center;
    text-align-last:center;
    -webkit-animation:fadeOutLeft 1s both;
    animation:fadeOutLeft 1s both;
}

.Modern-Slider .item.slick-active h3{
  -webkit-animation:fadeInDown 1s both 1s;
  animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active .info > div{
    -webkit-animation:fadeInDown 0.5s both 0.5s;
    animation:fadeInDown 0.5s both 0.5s;
}

.Modern-Slider .item.slick-active h5{
  -webkit-animation:fadeInLeft 1s both 1.5s;
  animation:fadeInLeft 1s both 1.5s;
}


.Modern-Slider .item{
    -webkit-animation:Slick-RotateSOut 0.5s both;
    animation:Slick-RotateSOut 0.5s both;
}

.Modern-Slider .item.slick-active{
  -webkit-animation:shakeIt-slow 1s both;
  animation:shakeIt-slow 1s both;
}

.Modern-Slider {background:#000;}

/* ==== Slider Image Transition === */
@-webkit-keyframes shakeIt-slow{2%{-webkit-transform:translate(2px,-9px) rotate(2.5deg);transform:translate(2px,-9px) rotate(2.5deg)}4%{-webkit-transform:translate(-4px,5px) rotate(-2.5deg);transform:translate(-4px,5px) rotate(-2.5deg)}6%{-webkit-transform:translate(-8px,8px) rotate(3.5deg);transform:translate(-8px,8px) rotate(3.5deg)}8%{-webkit-transform:translate(-7px,4px) rotate(-1.5deg);transform:translate(-7px,4px) rotate(-1.5deg)}10%{-webkit-transform:translate(7px,0px) rotate(1.5deg);transform:translate(7px,0px) rotate(1.5deg)}12%{-webkit-transform:translate(3px,8px) rotate(-0.5deg);transform:translate(3px,8px) rotate(-0.5deg)}14%{-webkit-transform:translate(4px,4px) rotate(0.5deg);transform:translate(4px,4px) rotate(0.5deg)}16%{-webkit-transform:translate(-4px,-4px) rotate(3.5deg);transform:translate(-4px,-4px) rotate(3.5deg)}18%{-webkit-transform:translate(-8px,-7px) rotate(3.5deg);transform:translate(-8px,-7px) rotate(3.5deg)}20%{-webkit-transform:translate(-9px,8px) rotate(2.5deg);transform:translate(-9px,8px) rotate(2.5deg)}22%{-webkit-transform:translate(-9px,-5px) rotate(-2.5deg);transform:translate(-9px,-5px) rotate(-2.5deg)}24%{-webkit-transform:translate(4px,-7px) rotate(-2.5deg);transform:translate(4px,-7px) rotate(-2.5deg)}26%{-webkit-transform:translate(-1px,3px) rotate(1.5deg);transform:translate(-1px,3px) rotate(1.5deg)}28%{-webkit-transform:translate(-3px,-7px) rotate(3.5deg);transform:translate(-3px,-7px) rotate(3.5deg)}30%{-webkit-transform:translate(6px,-9px) rotate(2.5deg);transform:translate(6px,-9px) rotate(2.5deg)}32%{-webkit-transform:translate(8px,-5px) rotate(-2.5deg);transform:translate(8px,-5px) rotate(-2.5deg)}34%{-webkit-transform:translate(7px,8px) rotate(1.5deg);transform:translate(7px,8px) rotate(1.5deg)}36%{-webkit-transform:translate(2px,5px) rotate(-2.5deg);transform:translate(2px,5px) rotate(-2.5deg)}38%{-webkit-transform:translate(-6px,0px) rotate(2.5deg);transform:translate(-6px,0px) rotate(2.5deg)}40%{-webkit-transform:translate(9px,7px) rotate(-2.5deg);transform:translate(9px,7px) rotate(-2.5deg)}42%{-webkit-transform:translate(-2px,-2px) rotate(-0.5deg);transform:translate(-2px,-2px) rotate(-0.5deg)}44%{-webkit-transform:translate(0px,-6px) rotate(-2.5deg);transform:translate(0px,-6px) rotate(-2.5deg)}46%{-webkit-transform:translate(-5px,2px) rotate(1.5deg);transform:translate(-5px,2px) rotate(1.5deg)}48%{-webkit-transform:translate(-8px,-7px) rotate(3.5deg);transform:translate(-8px,-7px) rotate(3.5deg)}50%{-webkit-transform:translate(-5px,-6px) rotate(-2.5deg);transform:translate(-5px,-6px) rotate(-2.5deg)}52%{-webkit-transform:translate(8px,1px) rotate(-2.5deg);transform:translate(8px,1px) rotate(-2.5deg)}54%{-webkit-transform:translate(-1px,-1px) rotate(-2.5deg);transform:translate(-1px,-1px) rotate(-2.5deg)}56%{-webkit-transform:translate(5px,-1px) rotate(2.5deg);transform:translate(5px,-1px) rotate(2.5deg)}58%{-webkit-transform:translate(-6px,-8px) rotate(-2.5deg);transform:translate(-6px,-8px) rotate(-2.5deg)}60%{-webkit-transform:translate(5px,5px) rotate(3.5deg);transform:translate(5px,5px) rotate(3.5deg)}62%{-webkit-transform:translate(-4px,-2px) rotate(1.5deg);transform:translate(-4px,-2px) rotate(1.5deg)}64%{-webkit-transform:translate(-5px,7px) rotate(3.5deg);transform:translate(-5px,7px) rotate(3.5deg)}66%{-webkit-transform:translate(7px,4px) rotate(0.5deg);transform:translate(7px,4px) rotate(0.5deg)}68%{-webkit-transform:translate(-5px,-2px) rotate(-2.5deg);transform:translate(-5px,-2px) rotate(-2.5deg)}70%{-webkit-transform:translate(1px,3px) rotate(-1.5deg);transform:translate(1px,3px) rotate(-1.5deg)}72%{-webkit-transform:translate(-6px,0px) rotate(2.5deg);transform:translate(-6px,0px) rotate(2.5deg)}74%{-webkit-transform:translate(1px,9px) rotate(2.5deg);transform:translate(1px,9px) rotate(2.5deg)}76%{-webkit-transform:translate(10px,-5px) rotate(-2.5deg);transform:translate(10px,-5px) rotate(-2.5deg)}78%{-webkit-transform:translate(-5px,4px) rotate(3.5deg);transform:translate(-5px,4px) rotate(3.5deg)}80%{-webkit-transform:translate(-6px,1px) rotate(0.5deg);transform:translate(-6px,1px) rotate(0.5deg)}82%{-webkit-transform:translate(9px,10px) rotate(2.5deg);transform:translate(9px,10px) rotate(2.5deg)}84%{-webkit-transform:translate(-1px,5px) rotate(-1.5deg);transform:translate(-1px,5px) rotate(-1.5deg)}86%{-webkit-transform:translate(4px,1px) rotate(2.5deg);transform:translate(4px,1px) rotate(2.5deg)}88%{-webkit-transform:translate(-5px,-7px) rotate(1.5deg);transform:translate(-5px,-7px) rotate(1.5deg)}90%{-webkit-transform:translate(-8px,-2px) rotate(0.5deg);transform:translate(-8px,-2px) rotate(0.5deg)}92%{-webkit-transform:translate(10px,-9px) rotate(-0.5deg);transform:translate(10px,-9px) rotate(-0.5deg)}94%{-webkit-transform:translate(7px,6px) rotate(-0.5deg);transform:translate(7px,6px) rotate(-0.5deg)}96%{-webkit-transform:translate(6px,1px) rotate(-2.5deg);transform:translate(6px,1px) rotate(-2.5deg)}98%{-webkit-transform:translate(5px,0px) rotate(1.5deg);transform:translate(5px,0px) rotate(1.5deg)}0%,100%{-webkit-transform:translate(0,0) rotate(0);transform:translate(0,0) rotate(0)}}
@keyframes shakeIt-slow{2%{-webkit-transform:translate(2px,-9px) rotate(2.5deg);transform:translate(2px,-9px) rotate(2.5deg)}4%{-webkit-transform:translate(-4px,5px) rotate(-2.5deg);transform:translate(-4px,5px) rotate(-2.5deg)}6%{-webkit-transform:translate(-8px,8px) rotate(3.5deg);transform:translate(-8px,8px) rotate(3.5deg)}8%{-webkit-transform:translate(-7px,4px) rotate(-1.5deg);transform:translate(-7px,4px) rotate(-1.5deg)}10%{-webkit-transform:translate(7px,0px) rotate(1.5deg);transform:translate(7px,0px) rotate(1.5deg)}12%{-webkit-transform:translate(3px,8px) rotate(-0.5deg);transform:translate(3px,8px) rotate(-0.5deg)}14%{-webkit-transform:translate(4px,4px) rotate(0.5deg);transform:translate(4px,4px) rotate(0.5deg)}16%{-webkit-transform:translate(-4px,-4px) rotate(3.5deg);transform:translate(-4px,-4px) rotate(3.5deg)}18%{-webkit-transform:translate(-8px,-7px) rotate(3.5deg);transform:translate(-8px,-7px) rotate(3.5deg)}20%{-webkit-transform:translate(-9px,8px) rotate(2.5deg);transform:translate(-9px,8px) rotate(2.5deg)}22%{-webkit-transform:translate(-9px,-5px) rotate(-2.5deg);transform:translate(-9px,-5px) rotate(-2.5deg)}24%{-webkit-transform:translate(4px,-7px) rotate(-2.5deg);transform:translate(4px,-7px) rotate(-2.5deg)}26%{-webkit-transform:translate(-1px,3px) rotate(1.5deg);transform:translate(-1px,3px) rotate(1.5deg)}28%{-webkit-transform:translate(-3px,-7px) rotate(3.5deg);transform:translate(-3px,-7px) rotate(3.5deg)}30%{-webkit-transform:translate(6px,-9px) rotate(2.5deg);transform:translate(6px,-9px) rotate(2.5deg)}32%{-webkit-transform:translate(8px,-5px) rotate(-2.5deg);transform:translate(8px,-5px) rotate(-2.5deg)}34%{-webkit-transform:translate(7px,8px) rotate(1.5deg);transform:translate(7px,8px) rotate(1.5deg)}36%{-webkit-transform:translate(2px,5px) rotate(-2.5deg);transform:translate(2px,5px) rotate(-2.5deg)}38%{-webkit-transform:translate(-6px,0px) rotate(2.5deg);transform:translate(-6px,0px) rotate(2.5deg)}40%{-webkit-transform:translate(9px,7px) rotate(-2.5deg);transform:translate(9px,7px) rotate(-2.5deg)}42%{-webkit-transform:translate(-2px,-2px) rotate(-0.5deg);transform:translate(-2px,-2px) rotate(-0.5deg)}44%{-webkit-transform:translate(0px,-6px) rotate(-2.5deg);transform:translate(0px,-6px) rotate(-2.5deg)}46%{-webkit-transform:translate(-5px,2px) rotate(1.5deg);transform:translate(-5px,2px) rotate(1.5deg)}48%{-webkit-transform:translate(-8px,-7px) rotate(3.5deg);transform:translate(-8px,-7px) rotate(3.5deg)}50%{-webkit-transform:translate(-5px,-6px) rotate(-2.5deg);transform:translate(-5px,-6px) rotate(-2.5deg)}52%{-webkit-transform:translate(8px,1px) rotate(-2.5deg);transform:translate(8px,1px) rotate(-2.5deg)}54%{-webkit-transform:translate(-1px,-1px) rotate(-2.5deg);transform:translate(-1px,-1px) rotate(-2.5deg)}56%{-webkit-transform:translate(5px,-1px) rotate(2.5deg);transform:translate(5px,-1px) rotate(2.5deg)}58%{-webkit-transform:translate(-6px,-8px) rotate(-2.5deg);transform:translate(-6px,-8px) rotate(-2.5deg)}60%{-webkit-transform:translate(5px,5px) rotate(3.5deg);transform:translate(5px,5px) rotate(3.5deg)}62%{-webkit-transform:translate(-4px,-2px) rotate(1.5deg);transform:translate(-4px,-2px) rotate(1.5deg)}64%{-webkit-transform:translate(-5px,7px) rotate(3.5deg);transform:translate(-5px,7px) rotate(3.5deg)}66%{-webkit-transform:translate(7px,4px) rotate(0.5deg);transform:translate(7px,4px) rotate(0.5deg)}68%{-webkit-transform:translate(-5px,-2px) rotate(-2.5deg);transform:translate(-5px,-2px) rotate(-2.5deg)}70%{-webkit-transform:translate(1px,3px) rotate(-1.5deg);transform:translate(1px,3px) rotate(-1.5deg)}72%{-webkit-transform:translate(-6px,0px) rotate(2.5deg);transform:translate(-6px,0px) rotate(2.5deg)}74%{-webkit-transform:translate(1px,9px) rotate(2.5deg);transform:translate(1px,9px) rotate(2.5deg)}76%{-webkit-transform:translate(10px,-5px) rotate(-2.5deg);transform:translate(10px,-5px) rotate(-2.5deg)}78%{-webkit-transform:translate(-5px,4px) rotate(3.5deg);transform:translate(-5px,4px) rotate(3.5deg)}80%{-webkit-transform:translate(-6px,1px) rotate(0.5deg);transform:translate(-6px,1px) rotate(0.5deg)}82%{-webkit-transform:translate(9px,10px) rotate(2.5deg);transform:translate(9px,10px) rotate(2.5deg)}84%{-webkit-transform:translate(-1px,5px) rotate(-1.5deg);transform:translate(-1px,5px) rotate(-1.5deg)}86%{-webkit-transform:translate(4px,1px) rotate(2.5deg);transform:translate(4px,1px) rotate(2.5deg)}88%{-webkit-transform:translate(-5px,-7px) rotate(1.5deg);transform:translate(-5px,-7px) rotate(1.5deg)}90%{-webkit-transform:translate(-8px,-2px) rotate(0.5deg);transform:translate(-8px,-2px) rotate(0.5deg)}92%{-webkit-transform:translate(10px,-9px) rotate(-0.5deg);transform:translate(10px,-9px) rotate(-0.5deg)}94%{-webkit-transform:translate(7px,6px) rotate(-0.5deg);transform:translate(7px,6px) rotate(-0.5deg)}96%{-webkit-transform:translate(6px,1px) rotate(-2.5deg);transform:translate(6px,1px) rotate(-2.5deg)}98%{-webkit-transform:translate(5px,0px) rotate(1.5deg);transform:translate(5px,0px) rotate(1.5deg)}0%,100%{-webkit-transform:translate(0,0) rotate(0);transform:translate(0,0) rotate(0)}}
@-webkit-keyframes Slick-RotateSOut{from{-webkit-transform:scale(1) rotate(360deg);transform:scale(1) rotate(360deg);};to{-webkit-transform:scale(0) rotate(0deg);transform:scale(0) rotate(0deg);}}
@keyframes Slick-RotateSOut{from{-webkit-transform:scale(1) rotate(360deg);transform:scale(1) rotate(360deg);};to{-webkit-transform:scale(0) rotate(0deg);transform:scale(0) rotate(0deg);}}
@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: white;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #9c27b0;
}

.modal-content {
    background-color: #1d1d1d;
}

/section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #9c27b0;
    padding: 5px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #9c27b0;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #9c27b0 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 5px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #9c27b0;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #9c27b0;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../matador-new.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

footer {
    background-color:#2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 1px 0px;
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.logo {
  text-align: left;
  width: 100%;
  height: 100px;
}

.logo b{
  font: 100 35px "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
#three{
    background-color: #2d2d2d;
}
.p0r{
    padding-right: 0px;
}
@media (min-width: 768px){
    .navbar-nav {
    float: right;
    margin: 0;
}
}
.column h4{
    font-size: 30px;
    text-align: center;
}
.column p{
    font-size: 20px;
    text-align:center;
}
table, th, td {
    border: 1px solid white;
    padding: 3px;
}
.bld{
    font-weight: bold;
    color: black;
}